In [3]:
def square(num):
    result = num ** 2
    return result

square(5)

25

In [7]:
def square(num): return num**2
square(7)

49

In [9]:
square = lambda num: num ** 2
square(3)

9

In [11]:
# lambda is used for anonymous functions.
# functions without def keyword and return statements

mynums = list(range(6))
print(mynums)

def square(num):
    return num ** 2

square_nums = map(square, mynums)
square_nums = list(square_nums)

print(square_nums)

[0, 1, 2, 3, 4, 5]
[0, 1, 4, 9, 16, 25]

In [13]:
mynums = list(range(6))
list(map(lambda num: num ** 2 if num % 2 == 0 else num + 10, mynums))

[0, 11, 4, 13, 16, 15]

In [21]:
# args and kwargs

def myfunc(a, b):
    return sum((a, b)) * 0.05

myfunc(50, 60)

5.5

In [23]:
mf = lambda a, b: sum((a, b)) * 0.05
mf(50, 60)

5.5

In [25]:
# args and kwargs

def myfunc(a, b):
    return sum((a, b)) * 0.05

myfunc(50, 50)

5.0

In [27]:
# args and kwargs

def myfunc(a, b, c):
    return sum((a, b, c)) * 0.05

myfunc(50, 50, 100)

10.0

In [29]:
# what if myfunc had to work with 20 parameters?
def myfunc(a, b, c, d, e, f, g...)

SyntaxError: invalid syntax (1835643272.py, line 2)

In [31]:
def myfunc(*args):
    return sum((args)) * 0.05
# * represents 0 or more positional parameters
# args are handled as tuples
myfunc()

0.0

In [33]:
myfunc(10, 10, 10, 44, 80, 89, 4, 80)

16.35

In [35]:
def myfunc(*nums):
    print(type(nums))
    return sum((nums)) * 0.05

# * represent 0 or more positional parameters
myfunc()

<class 'tuple'>

0.0

In [37]:
myfunc(10, 10, 10, 44, 80, 89, 4, 80)

<class 'tuple'>

16.35

In [39]:
myfunc('hello', 'shy', 45)

<class 'tuple'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [41]:
def myfunc(*nums):
    #print(type(nums))
    #print(nums)
    for n in nums:
        if isinstance(n, str):
            print(n)

# * represents 0 or more positional parameters
myfunc('hello', 'shy', 45)

hello
shy

In [45]:
def newfunc(a,b,c = 100):
    return a + b + c

newfunc(50, 50, 200)

300

In [47]:
newfunc(50, 50)

200

In [51]:
# **kwargs
# Kwargs are handled like dictionaries
def test_function(**kwargs):
    print(type(kwargs))
    print(kwargs)

test_function(a = 10, b = 20, c = 30)

<class 'dict'>
{'a': 10, 'b': 20, 'c': 30}

In [53]:
test_function()

<class 'dict'>
{}

In [59]:
def test_function(**kwargs):
    #print(type(kwargs))
    #print(kwargs)
    if 'a' in kwargs:
        print(kwargs['a'])

test_function(a = 10, b = 20, c = 30)

10

In [61]:
# combining args and kwargs
# args most always come before kwargs
def test_function2(*args, **kwargs):
    print(args, kwargs)

test_function2(1,2,3, a = 10, b = 45, c = 78)

(1, 2, 3) {'a': 10, 'b': 45, 'c': 78}