In [5]:
import numpy as np
import pandas as pd
import matplotlib as plt 

yo15_df = pd.read_csv(r"C:\Users\admin\Desktop\happiness_datasets\2015.csv")
yo15_df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [7]:
yo16_df = pd.read_csv(r"C:\Users\admin\Desktop\happiness_datasets\2016.csv")
yo16_df.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [9]:
yo17_df = pd.read_csv(r"C:\Users\admin\Desktop\happiness_datasets\2017.csv")
yo17_df.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [11]:
yo18_df = pd.read_csv(r"C:\Users\admin\Desktop\happiness_datasets\2018.csv")
yo18_df.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [13]:
yo19_df = pd.read_csv(r"C:\Users\admin\Desktop\happiness_datasets\2019.csv")
yo19_df.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [15]:

yo15_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

In [17]:
yo15_df.drop(columns=['Standard Error', 'Dystopia Residual'], inplace=True)
yo15_df

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811
...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628
154,Benin,Sub-Saharan Africa,155,3.340,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260
155,Syria,Middle East and Northern Africa,156,3.006,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179
156,Burundi,Sub-Saharan Africa,157,2.905,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727
157,Togo,Sub-Saharan Africa,158,2.839,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681

In [19]:
yo15_df.rename(columns = {'Economy (GDP per Capita)':'GDP per Capita', 'Health (Life Expectancy)':'Life Expectancy', 'Trust (Government Corruption)':'Government Corruption', 'Family':'Social support'}, inplace=True)
yo15_df

,Country,Region,Happiness Rank,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Government Corruption,Generosity
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811
...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628
154,Benin,Sub-Saharan Africa,155,3.340,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260
155,Syria,Middle East and Northern Africa,156,3.006,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179
156,Burundi,Sub-Saharan Africa,157,2.905,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727
157,Togo,Sub-Saharan Africa,158,2.839,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681

In [21]:
yo15_df = yo15_df.round({'GDP per Capita': 3, 'Social support': 3, 'Life Expectancy': 3, 'Freedom': 3,'Government Corruption': 3,'Generosity': 3})

In [23]:
yo15_df

,Country,Region,Happiness Rank,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Government Corruption,Generosity
0,Switzerland,Western Europe,1,7.587,1.397,1.350,0.941,0.666,0.420,0.297
1,Iceland,Western Europe,2,7.561,1.302,1.402,0.948,0.629,0.141,0.436
2,Denmark,Western Europe,3,7.527,1.325,1.361,0.875,0.649,0.484,0.341
3,Norway,Western Europe,4,7.522,1.459,1.331,0.885,0.670,0.365,0.347
4,Canada,North America,5,7.427,1.326,1.323,0.906,0.633,0.330,0.458
...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.222,0.774,0.429,0.592,0.552,0.226
154,Benin,Sub-Saharan Africa,155,3.340,0.287,0.354,0.319,0.484,0.080,0.183
155,Syria,Middle East and Northern Africa,156,3.006,0.663,0.475,0.722,0.157,0.189,0.472
156,Burundi,Sub-Saharan Africa,157,2.905,0.015,0.416,0.224,0.118,0.101,0.197
157,Togo,Sub-Saharan Africa,158,2.839,0.209,0.140,0.284,0.365,0.107,0.167

In [27]:
yo15_df.to_csv(r"C:\Users\admin\Desktop\happiness_datasets\2015CLEANED.csv", index=False)

In [29]:
yo16_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        157 non-null    object
 1   Region                         157 non-null    object
 2   Happiness Rank                 157 non-null    int64
 3   Happiness Score                157 non-null    float64
 4   Lower Confidence Interval      157 non-null    float64
 5   Upper Confidence Interval      157 non-null    float64
 6   Economy (GDP per Capita)       157 non-null    float64
 7   Family                         157 non-null    float64
 8   Health (Life Expectancy)       157 non-null    float64
 9   Freedom                        157 non-null    float64
 10  Trust (Government Corruption)  157 non-null    float64
 11  Generosity                     157 non-null    float64
 12  Dystopia Residual              157 non-null    float64
dtypes: float64(10), int64(1), object(2)
memory usage: 16.1+ KB

In [31]:
yo16_df

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596
...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Benin,Sub-Saharan Africa,153,3.484,3.404,3.564,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180,2.10812
153,Afghanistan,Southern Asia,154,3.360,3.288,3.432,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2.14558
154,Togo,Sub-Saharan Africa,155,3.303,3.192,3.414,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517,2.13540
155,Syria,Middle East and Northern Africa,156,3.069,2.936,3.202,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397,0.81789
156,Burundi,Sub-Saharan Africa,157,2.905,2.732,3.078,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290,2.10404

In [33]:
yo16_df.drop(columns=['Lower Confidence Interval', 'Upper Confidence Interval','Dystopia Residual' ], inplace=True)
yo16_df

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Denmark,Western Europe,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171
1,Switzerland,Western Europe,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083
2,Iceland,Western Europe,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678
3,Norway,Western Europe,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895
4,Finland,Western Europe,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492
...,...,...,...,...,...,...,...,...,...,...
152,Benin,Sub-Saharan Africa,153,3.484,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180
153,Afghanistan,Southern Asia,154,3.360,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268
154,Togo,Sub-Saharan Africa,155,3.303,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517
155,Syria,Middle East and Northern Africa,156,3.069,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397
156,Burundi,Sub-Saharan Africa,157,2.905,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290

In [35]:
yo16_df.rename(columns = {'Economy (GDP per Capita)':'GDP per Capita', 'Health (Life Expectancy)':'Life Expectancy', 'Trust (Government Corruption)':'Government Corruption', 'Family':'Social support'}, inplace=True)
yo16_df

,Country,Region,Happiness Rank,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Government Corruption,Generosity
0,Denmark,Western Europe,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171
1,Switzerland,Western Europe,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083
2,Iceland,Western Europe,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678
3,Norway,Western Europe,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895
4,Finland,Western Europe,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492
...,...,...,...,...,...,...,...,...,...,...
152,Benin,Sub-Saharan Africa,153,3.484,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180
153,Afghanistan,Southern Asia,154,3.360,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268
154,Togo,Sub-Saharan Africa,155,3.303,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517
155,Syria,Middle East and Northern Africa,156,3.069,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397
156,Burundi,Sub-Saharan Africa,157,2.905,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290

In [37]:
yo16_df = yo16_df.round({'GDP per Capita': 3, 'Social support': 3, 'Life Expectancy': 3, 'Freedom': 3,'Government Corruption': 3,'Generosity': 3})
yo16_df

,Country,Region,Happiness Rank,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Government Corruption,Generosity
0,Denmark,Western Europe,1,7.526,1.442,1.164,0.795,0.579,0.445,0.362
1,Switzerland,Western Europe,2,7.509,1.527,1.145,0.863,0.586,0.412,0.281
2,Iceland,Western Europe,3,7.501,1.427,1.183,0.867,0.566,0.150,0.477
3,Norway,Western Europe,4,7.498,1.577,1.127,0.796,0.596,0.358,0.379
4,Finland,Western Europe,5,7.413,1.406,1.135,0.811,0.571,0.410,0.255
...,...,...,...,...,...,...,...,...,...,...
152,Benin,Sub-Saharan Africa,153,3.484,0.395,0.104,0.210,0.397,0.067,0.202
153,Afghanistan,Southern Asia,154,3.360,0.382,0.110,0.173,0.164,0.071,0.313
154,Togo,Sub-Saharan Africa,155,3.303,0.281,0.000,0.248,0.347,0.116,0.175
155,Syria,Middle East and Northern Africa,156,3.069,0.747,0.149,0.630,0.069,0.172,0.484
156,Burundi,Sub-Saharan Africa,157,2.905,0.068,0.234,0.157,0.043,0.094,0.203

In [39]:
yo16_df.to_csv(r"C:\Users\admin\Desktop\happiness_datasets\2016CLEANED.csv", index=False)

In [41]:
yo17_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        155 non-null    object
 1   Happiness.Rank                 155 non-null    int64
 2   Happiness.Score                155 non-null    float64
 3   Whisker.high                   155 non-null    float64
 4   Whisker.low                    155 non-null    float64
 5   Economy..GDP.per.Capita.       155 non-null    float64
 6   Family                         155 non-null    float64
 7   Health..Life.Expectancy.       155 non-null    float64
 8   Freedom                        155 non-null    float64
 9   Generosity                     155 non-null    float64
 10  Trust..Government.Corruption.  155 non-null    float64
 11  Dystopia.Residual              155 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 14.7+ KB

In [45]:
yo17_df

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182
...,...,...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,3.543030,3.398970,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,0.540061
151,Syria,152,3.462,3.663669,3.260331,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574
152,Tanzania,153,3.349,3.461430,3.236570,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,0.621130
153,Burundi,154,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024
154,Central African Republic,155,2.693,2.864884,2.521116,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005

In [47]:
yo17_df.drop(columns=['Whisker.high', 'Whisker.low','Dystopia.Residual' ], inplace=True)
yo17_df

,Country,Happiness.Rank,Happiness.Score,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612
...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220
151,Syria,152,3.462,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347
152,Tanzania,153,3.349,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035
153,Burundi,154,2.905,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148
154,Central African Republic,155,2.693,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565

In [49]:
yo17_df.rename(columns = {'Happiness.Rank':'Happiness Rank', 'Happiness.Score':'Happiness Score', 'Economy..GDP.per.Capita.':'GDP per Capita', 'Family':'Social support', 'Health..Life.Expectancy.':'Life Expectancy', 'Trust..Government.Corruption.':'Government Corruption' }, inplace=True)
yo17_df

,Country,Happiness Rank,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Generosity,Government Corruption
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612
...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220
151,Syria,152,3.462,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347
152,Tanzania,153,3.349,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035
153,Burundi,154,2.905,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148
154,Central African Republic,155,2.693,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565

In [51]:
yo17_df = yo17_df.round({'GDP per Capita': 3, 'Social support': 3, 'Life Expectancy': 3, 'Freedom': 3,'Government Corruption': 3,'Generosity': 3})
yo17_df

,Country,Happiness Rank,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Generosity,Government Corruption
0,Norway,1,7.537,1.616,1.534,0.797,0.635,0.362,0.316
1,Denmark,2,7.522,1.482,1.551,0.793,0.626,0.355,0.401
2,Iceland,3,7.504,1.481,1.611,0.834,0.627,0.476,0.154
3,Switzerland,4,7.494,1.565,1.517,0.858,0.620,0.291,0.367
4,Finland,5,7.469,1.444,1.540,0.809,0.618,0.245,0.383
...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,0.369,0.946,0.326,0.582,0.253,0.455
151,Syria,152,3.462,0.777,0.396,0.501,0.082,0.494,0.151
152,Tanzania,153,3.349,0.511,1.042,0.365,0.390,0.354,0.066
153,Burundi,154,2.905,0.092,0.630,0.152,0.060,0.204,0.084
154,Central African Republic,155,2.693,0.000,0.000,0.019,0.271,0.281,0.057

In [53]:
yo17_df.to_csv(r"C:\Users\admin\Desktop\happiness_datasets\2017CLEANED.csv", index=False)

In [55]:
yo18_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     155 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [57]:
yo18_df

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076

In [61]:
yo18_df.rename(columns = {'Overall rank':'Happiness Rank', 'Country or region':'Country', 'Score':'Happiness Score', 'Healthy life expectancy':'Life Expectancy', 'Freedom to make life choices':'Freedom','Perceptions of corruption':'Government Corruption' }, inplace=True)
yo18_df

,Happiness Rank,Country,Happiness Score,GDP per capita,Social support,Life Expectancy,Freedom,Generosity,Government Corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076

In [63]:
yo18_df.to_csv(r"C:\Users\admin\Desktop\happiness_datasets\2018CLEANED.csv", index=False)

In [65]:
yo19_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [67]:
yo19_df

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [69]:
yo19_df.rename(columns = {'Overall rank':'Happiness Rank', 'Country or region':'Country', 'Score':'Happiness Score', 'Healthy life expectancy':'Life Expectancy', 'Freedom to make life choices':'Freedom','Perceptions of corruption':'Government Corruption' }, inplace=True)
yo19_df

,Happiness Rank,Country,Happiness Score,GDP per capita,Social support,Life Expectancy,Freedom,Generosity,Government Corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [71]:
yo19_df.to_csv(r"C:\Users\admin\Desktop\happiness_datasets\2019CLEANED.csv", index=False)

In [73]:
yo15_df

,Country,Region,Happiness Rank,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Government Corruption,Generosity
0,Switzerland,Western Europe,1,7.587,1.397,1.350,0.941,0.666,0.420,0.297
1,Iceland,Western Europe,2,7.561,1.302,1.402,0.948,0.629,0.141,0.436
2,Denmark,Western Europe,3,7.527,1.325,1.361,0.875,0.649,0.484,0.341
3,Norway,Western Europe,4,7.522,1.459,1.331,0.885,0.670,0.365,0.347
4,Canada,North America,5,7.427,1.326,1.323,0.906,0.633,0.330,0.458
...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.222,0.774,0.429,0.592,0.552,0.226
154,Benin,Sub-Saharan Africa,155,3.340,0.287,0.354,0.319,0.484,0.080,0.183
155,Syria,Middle East and Northern Africa,156,3.006,0.663,0.475,0.722,0.157,0.189,0.472
156,Burundi,Sub-Saharan Africa,157,2.905,0.015,0.416,0.224,0.118,0.101,0.197
157,Togo,Sub-Saharan Africa,158,2.839,0.209,0.140,0.284,0.365,0.107,0.167

In [75]:
yo15_df.drop(columns=['Happiness Rank'], inplace=True)
yo15_df

,Country,Region,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Government Corruption,Generosity
0,Switzerland,Western Europe,7.587,1.397,1.350,0.941,0.666,0.420,0.297
1,Iceland,Western Europe,7.561,1.302,1.402,0.948,0.629,0.141,0.436
2,Denmark,Western Europe,7.527,1.325,1.361,0.875,0.649,0.484,0.341
3,Norway,Western Europe,7.522,1.459,1.331,0.885,0.670,0.365,0.347
4,Canada,North America,7.427,1.326,1.323,0.906,0.633,0.330,0.458
...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,3.465,0.222,0.774,0.429,0.592,0.552,0.226
154,Benin,Sub-Saharan Africa,3.340,0.287,0.354,0.319,0.484,0.080,0.183
155,Syria,Middle East and Northern Africa,3.006,0.663,0.475,0.722,0.157,0.189,0.472
156,Burundi,Sub-Saharan Africa,2.905,0.015,0.416,0.224,0.118,0.101,0.197
157,Togo,Sub-Saharan Africa,2.839,0.209,0.140,0.284,0.365,0.107,0.167

In [77]:
yo15_df.to_csv(r"C:\Users\admin\Desktop\happiness_datasets\2015CLEANED.csv", index=False)

In [79]:
yo16_df

,Country,Region,Happiness Rank,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Government Corruption,Generosity
0,Denmark,Western Europe,1,7.526,1.442,1.164,0.795,0.579,0.445,0.362
1,Switzerland,Western Europe,2,7.509,1.527,1.145,0.863,0.586,0.412,0.281
2,Iceland,Western Europe,3,7.501,1.427,1.183,0.867,0.566,0.150,0.477
3,Norway,Western Europe,4,7.498,1.577,1.127,0.796,0.596,0.358,0.379
4,Finland,Western Europe,5,7.413,1.406,1.135,0.811,0.571,0.410,0.255
...,...,...,...,...,...,...,...,...,...,...
152,Benin,Sub-Saharan Africa,153,3.484,0.395,0.104,0.210,0.397,0.067,0.202
153,Afghanistan,Southern Asia,154,3.360,0.382,0.110,0.173,0.164,0.071,0.313
154,Togo,Sub-Saharan Africa,155,3.303,0.281,0.000,0.248,0.347,0.116,0.175
155,Syria,Middle East and Northern Africa,156,3.069,0.747,0.149,0.630,0.069,0.172,0.484
156,Burundi,Sub-Saharan Africa,157,2.905,0.068,0.234,0.157,0.043,0.094,0.203

In [81]:
yo16_df.drop(columns=['Happiness Rank'], inplace=True)
yo16_df

,Country,Region,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Government Corruption,Generosity
0,Denmark,Western Europe,7.526,1.442,1.164,0.795,0.579,0.445,0.362
1,Switzerland,Western Europe,7.509,1.527,1.145,0.863,0.586,0.412,0.281
2,Iceland,Western Europe,7.501,1.427,1.183,0.867,0.566,0.150,0.477
3,Norway,Western Europe,7.498,1.577,1.127,0.796,0.596,0.358,0.379
4,Finland,Western Europe,7.413,1.406,1.135,0.811,0.571,0.410,0.255
...,...,...,...,...,...,...,...,...,...
152,Benin,Sub-Saharan Africa,3.484,0.395,0.104,0.210,0.397,0.067,0.202
153,Afghanistan,Southern Asia,3.360,0.382,0.110,0.173,0.164,0.071,0.313
154,Togo,Sub-Saharan Africa,3.303,0.281,0.000,0.248,0.347,0.116,0.175
155,Syria,Middle East and Northern Africa,3.069,0.747,0.149,0.630,0.069,0.172,0.484
156,Burundi,Sub-Saharan Africa,2.905,0.068,0.234,0.157,0.043,0.094,0.203

In [83]:
yo16_df.to_csv(r"C:\Users\admin\Desktop\happiness_datasets\2016CLEANED.csv", index=False)

In [85]:
yo17_df

,Country,Happiness Rank,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Generosity,Government Corruption
0,Norway,1,7.537,1.616,1.534,0.797,0.635,0.362,0.316
1,Denmark,2,7.522,1.482,1.551,0.793,0.626,0.355,0.401
2,Iceland,3,7.504,1.481,1.611,0.834,0.627,0.476,0.154
3,Switzerland,4,7.494,1.565,1.517,0.858,0.620,0.291,0.367
4,Finland,5,7.469,1.444,1.540,0.809,0.618,0.245,0.383
...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,0.369,0.946,0.326,0.582,0.253,0.455
151,Syria,152,3.462,0.777,0.396,0.501,0.082,0.494,0.151
152,Tanzania,153,3.349,0.511,1.042,0.365,0.390,0.354,0.066
153,Burundi,154,2.905,0.092,0.630,0.152,0.060,0.204,0.084
154,Central African Republic,155,2.693,0.000,0.000,0.019,0.271,0.281,0.057

In [87]:
yo17_df.drop(columns=['Happiness Rank'], inplace=True)
yo17_df

,Country,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Generosity,Government Corruption
0,Norway,7.537,1.616,1.534,0.797,0.635,0.362,0.316
1,Denmark,7.522,1.482,1.551,0.793,0.626,0.355,0.401
2,Iceland,7.504,1.481,1.611,0.834,0.627,0.476,0.154
3,Switzerland,7.494,1.565,1.517,0.858,0.620,0.291,0.367
4,Finland,7.469,1.444,1.540,0.809,0.618,0.245,0.383
...,...,...,...,...,...,...,...,...
150,Rwanda,3.471,0.369,0.946,0.326,0.582,0.253,0.455
151,Syria,3.462,0.777,0.396,0.501,0.082,0.494,0.151
152,Tanzania,3.349,0.511,1.042,0.365,0.390,0.354,0.066
153,Burundi,2.905,0.092,0.630,0.152,0.060,0.204,0.084
154,Central African Republic,2.693,0.000,0.000,0.019,0.271,0.281,0.057

In [89]:
yo17_df.to_csv(r"C:\Users\admin\Desktop\happiness_datasets\2017CLEANED.csv", index=False)

In [91]:
yo18_df

,Happiness Rank,Country,Happiness Score,GDP per capita,Social support,Life Expectancy,Freedom,Generosity,Government Corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076

In [93]:
yo18_df.drop(columns=['Happiness Rank'], inplace=True)
yo18_df

,Country,Happiness Score,GDP per capita,Social support,Life Expectancy,Freedom,Generosity,Government Corruption
0,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...
151,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064
152,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097
153,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106
154,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038
155,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076

In [95]:
yo18_df.to_csv(r"C:\Users\admin\Desktop\happiness_datasets\2018CLEANED.csv", index=False)

In [97]:
yo19_df

,Happiness Rank,Country,Happiness Score,GDP per capita,Social support,Life Expectancy,Freedom,Generosity,Government Corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [99]:
yo19_df.drop(columns=['Happiness Rank'], inplace=True)
yo19_df

,Country,Happiness Score,GDP per capita,Social support,Life Expectancy,Freedom,Generosity,Government Corruption
0,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...
151,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [101]:
yo19_df.to_csv(r"C:\Users\admin\Desktop\happiness_datasets\2019CLEANED.csv", index=False)

In [103]:
yo15_df

,Country,Region,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Government Corruption,Generosity
0,Switzerland,Western Europe,7.587,1.397,1.350,0.941,0.666,0.420,0.297
1,Iceland,Western Europe,7.561,1.302,1.402,0.948,0.629,0.141,0.436
2,Denmark,Western Europe,7.527,1.325,1.361,0.875,0.649,0.484,0.341
3,Norway,Western Europe,7.522,1.459,1.331,0.885,0.670,0.365,0.347
4,Canada,North America,7.427,1.326,1.323,0.906,0.633,0.330,0.458
...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,3.465,0.222,0.774,0.429,0.592,0.552,0.226
154,Benin,Sub-Saharan Africa,3.340,0.287,0.354,0.319,0.484,0.080,0.183
155,Syria,Middle East and Northern Africa,3.006,0.663,0.475,0.722,0.157,0.189,0.472
156,Burundi,Sub-Saharan Africa,2.905,0.015,0.416,0.224,0.118,0.101,0.197
157,Togo,Sub-Saharan Africa,2.839,0.209,0.140,0.284,0.365,0.107,0.167

In [105]:
yo16_df

,Country,Region,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Government Corruption,Generosity
0,Denmark,Western Europe,7.526,1.442,1.164,0.795,0.579,0.445,0.362
1,Switzerland,Western Europe,7.509,1.527,1.145,0.863,0.586,0.412,0.281
2,Iceland,Western Europe,7.501,1.427,1.183,0.867,0.566,0.150,0.477
3,Norway,Western Europe,7.498,1.577,1.127,0.796,0.596,0.358,0.379
4,Finland,Western Europe,7.413,1.406,1.135,0.811,0.571,0.410,0.255
...,...,...,...,...,...,...,...,...,...
152,Benin,Sub-Saharan Africa,3.484,0.395,0.104,0.210,0.397,0.067,0.202
153,Afghanistan,Southern Asia,3.360,0.382,0.110,0.173,0.164,0.071,0.313
154,Togo,Sub-Saharan Africa,3.303,0.281,0.000,0.248,0.347,0.116,0.175
155,Syria,Middle East and Northern Africa,3.069,0.747,0.149,0.630,0.069,0.172,0.484
156,Burundi,Sub-Saharan Africa,2.905,0.068,0.234,0.157,0.043,0.094,0.203

In [107]:
yo17_df

,Country,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Generosity,Government Corruption
0,Norway,7.537,1.616,1.534,0.797,0.635,0.362,0.316
1,Denmark,7.522,1.482,1.551,0.793,0.626,0.355,0.401
2,Iceland,7.504,1.481,1.611,0.834,0.627,0.476,0.154
3,Switzerland,7.494,1.565,1.517,0.858,0.620,0.291,0.367
4,Finland,7.469,1.444,1.540,0.809,0.618,0.245,0.383
...,...,...,...,...,...,...,...,...
150,Rwanda,3.471,0.369,0.946,0.326,0.582,0.253,0.455
151,Syria,3.462,0.777,0.396,0.501,0.082,0.494,0.151
152,Tanzania,3.349,0.511,1.042,0.365,0.390,0.354,0.066
153,Burundi,2.905,0.092,0.630,0.152,0.060,0.204,0.084
154,Central African Republic,2.693,0.000,0.000,0.019,0.271,0.281,0.057

In [109]:
yo18_df

,Country,Happiness Score,GDP per capita,Social support,Life Expectancy,Freedom,Generosity,Government Corruption
0,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...
151,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064
152,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097
153,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106
154,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038
155,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076

In [111]:
yo19_df

,Country,Happiness Score,GDP per capita,Social support,Life Expectancy,Freedom,Generosity,Government Corruption
0,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...
151,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [117]:
yo19_df['Happiness Score'].max()

7.769